body {
    background-color: aliceblue;
}
.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}
.form_plate{
    margin: auto;
    width: 500px;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 20px 3px #cdcdcd;
}


/*.form_parent{*/
/*    width: 50%;*/
/*}*/

form {
    width: 70%;
    margin: 5px;
}

.submit_button{
    width: 100%;
}

#bin_information_table{
    height: 100px;
}

.line{
    border-left: 1px solid #cdcdcd;
    height: 95%;
    margin-top: 5px;
    /*position: absolute;*/
}
.bin_table_parent{
    overflow: auto;
    width: 25%;
    height: 95%;
    margin-left: 2px;
}
/*.bin_table{*/

/*}*/

tr {
    height: 8%;
}


/*.bin_table_parent{*/

/*    width: 20%;*/
/*}*/